.centered {
  margin: auto;
  width: 50%;
  li {
    display: block;
    padding: 9px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    border-radius: 3px;
    label {
      display: block;
      float: left;
      margin-top: -19px;
      background: #ffffff;
      height: 14px;
      padding: 2px 5px 2px 5px;
      color: #b9b9b9;
      font-size: 14px;
      overflow: hidden;
    }

    input {
      width: 95%;
      display: inline;
      outline: none;
      border: none;
      height: 25px;
      line-height: 25px;
      font-size: 16px;
      padding: 0;
      font-family: 'Proxima_Nova', sans-serif, serif;
    }
    .check1 {
      padding-top: 5px;
      display: none;
      width: 20px;
      height: 20px;
      margin: 0px;
    }
    .check2 {
      padding-top: 5px;
      display: none;
      width: 20px;
      height: 20px;
      margin: 0px;
    }
    .check3 {
      padding-top: 5px;
      display: none;
      width: 20px;
      height: 20px;
      margin: 0px;
    }
  }
  p {
    color: #ea402c;
    margin-bottom: 15px;
  }
  button {
    background: #ea402c;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #ff6982;
    border-radius: 3px;
    color: #d2e2ff;
  }
  select {
    color: #808080;
    box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: 'Proxima_Nova', sans-serif, serif;
  }
}
p {
  color: #808080;
  margin-left: 10px;
}
