.centered {
  #check1 {
    padding-top: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
  #check2 {
    padding-top: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
  #check3 {
    padding-top: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
  #check4 {
    padding-top: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
  #check5 {
    padding-top: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
  #check6 {
    padding-top: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
  #check7 {
    padding-top: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
}
p {
  color: #ea402c;
  margin-bottom: 15px;
}
button {
  background: #ea402c;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #ff6982;
  border-radius: 3px;
  color: #d2e2ff;
}
select {
  color: #808080;
  box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: 'Proxima_Nova', sans-serif, serif;
}
p {
  color: #808080;
  margin-left: 10px;
}
