body {
  font-weight: 300;
  font-size: 14px;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}

.ReactTable .rt-th {
  background: #808080;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.rt-th:focus {
  outline: none;
}
